/****** ADFLOW EXPERIENCE - MODAL STRUCTURE ******/
.fluent-af-exp-modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -9999;
  opacity: 0;
  transition: opacity 0.4s;
}

.fluent-af-exp-modal--open {
  z-index: 9999999999;
  opacity: 1;
}

.fluent-af-exp-modal__container {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 0px 13px 100px rgb(0 0 0 / 30%);
}

.fluent-af-exp-modal__body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9999;
}

.fluent-af-exp-modal__iframe {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

/****** ADFLOW EXPERIENCE - EMBED ON PAGE STRUCTURE ******/
.fluent-af-exp-widget__iframe {
  border: none;
  width: 100%;
  min-width: 320px;
}

/* GLOBAL CSS */
.embedflow-hidden {
  display: none;
}
