:root {
  --main-color-1: #ff8d32;
  --main-color-2: #312b26;
  --main-color-3: #77706a;
  --main-color-4: #a19d9a;
  --main-color-5: #fbfaf9;
  --main-color-6: #f9f7f6;
  --main-color-7: #312b26;
  --main-color-8: #faf1ea;
  --main-color-9: #ff8d32;
  --main-color-10: #faf1ea;
  --main-color-11: #f9f9f9;
  --main-color-12: #FFFFFF;
  --main-color-13: #70e895;
  --main-color-14: #d5d5d5;
  --main-color-15: #fbfaf9;  /* bg */
  --main-color-16: #e5e5e5;
  --main-color-17: #5BD692;
  --main-color-18: #f7f7f7;
  --main-color-19: #ed7e25;
  --main-color-20: #ff8d32;
  --main-color-21: #bbbbbb;
  --main-color-22: #FBFAF9;
}